/*
Design Name: Mojo Services 
Site URI: CodeTambay.com
Repo: https://github.com/codetambay/Mojo-Service-2-Static
Author: aljun
Description: Mojo Service Demo Web HTML, CSS, JavaScript. Static Website for Video Series Demo of CodeTambay Web Videos.
Year Create: 2019
Version: 1.0.1
*/

.gallery-grid-wrapper {
    /* main wrapper for itemSelector */
    padding-bottom: 40px;
}


/* overlay opac green bg */

.gallery-grid-wrapper figure .overlay-background .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 11px;
    background-color: rgb(78, 174, 0);
}


/* overlay search and link icons */

.gallery-grid-wrapper figure .overlay {
    z-index: 2;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%
}


/* horizontal center align of search and link icons  */

.gallery-grid-wrapper figure .inner-overlay {
    display: table;
    width: 100%;
    height: 100%
}


/* vertical center align of search and link icons  */

.gallery-grid-wrapper figure .inner-overlay-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 20px 40px;
    /* center align */
    text-align: center;
}


/* transparent overlay bg when <figure> elem hover */

.gallery-grid-wrapper figure:hover .overlay-background {
    opacity: .8;
    visibility: visible
}


/* transparent overlay bg */

.gallery-grid-wrapper figure .overlay-background {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    opacity: 0;
    visibility: hidden;
}


/* overlay div elem of search and link icons  */

.gallery-grid-wrapper figure:hover .overlay {
    opacity: 1;
    visibility: visible
}


/* search and link icons width, height, spacing, border, and color */

.gallery-grid-wrapper figure .inner-overlay-content a {
    width: 40px;
    height: 40px;
    line-height: 42px;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    background: #00c0ff;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* skew image when hover */

.isotopeSelector img {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.isotopeSelector:hover img {
    -moz-transform: scale(1.5) rotate(8deg);
    -webkit-transform: scale(1.5) rotate(8deg);
    -o-transform: scale(1.5) rotate(8deg);
    -ms-transform: scale(1.5) rotate(8deg);
    transform: scale(1.5) rotate(8deg);
}


/* cut-out the overflow figure elem */

.isotopeSelector figure {
    overflow: hidden;
}


/* 
    <figure> elem set as relative | inside elem like overlay set as absolute 
    these class "overlay-background", "overlay" set as absolute
*/

.gallery-grid-wrapper figure {
    float: left;
    width: 100%;
    position: relative
}


/* img responsive when small screen */

.gallery-grid-wrapper figure img {
    width: 100%;
    height: auto
}